

h1 {

}

h2 {
    color:darkblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    line-height: 5px;
    text-align: left;
    left: 10px;
    scale: 200%;
}

head {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    size: 120%;
    position:relative;
}

.body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    position:relative;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

p {
    color:purple;
}

.myVideo {
    position:absolute;
    top: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    z-index: -2;
  }

.block {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:absolute;
    z-index: -1;
}

.article {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    padding:100px;
    position:relative;
    overflow:hidden;
    min-height:100vh;

}

.profile {
    position: absolute;
    top: 255px;
    right: 680px;
}

.title {
    position: absolute;
    bottom: 670px;
    left: 700px;
   
}

.button1 {
    position:absolute;
    top:600px;
    right:720px;
}

.button2 {
    position:absolute;
    top:600px;
    right:660px;
}

.button3 {
    position:absolute;
    top:600px;
    right:600px;
}

.gif1 {
    position:absolute;
    top:600px;
    right:500px;
}

.gif1:hover {
    transition: all 0s linear 0s;
    scale: 125%;
}

.gif2 {
    position:absolute;
    top:500px;
    right:450px;
}

.gif2:hover {
    transition: all 0s linear 0s;
    scale: 125%;
}

.gif3 {
    position:absolute;
    top:490px;
    right:545px;
}

.gif3:hover {
    transition: all 0s linear 0s;
    scale: 125%;
}

.gif4 {
    position:absolute;
    top:380px;
    right:550px;
}

.gif4:hover {
    transition: all 0s linear 0s;
    scale: 125%;
}

.gif5 {
    position:absolute;
    top:410px;
    right:420px;
}

.gif5:hover {
    transition: all 0s linear 0s;
    scale: 125%;
}

p {
    position:absolute;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    scale: 100%;
}

p::first-letter {
    font-size: 124%;
    color: navy;
  }

.darkmode {
    position: absolute;
    top: 250px;
    right: 1100px;
}

.cloud1 {
    scale:90%;
    animation-name: moving;
    animation-duration: 10s;
    animation-delay: 5s;
    position:absolute;
    z-index: -1;
    animation-timing-function: linear;
}

@keyframes moving
{
    0% {left:0px;bottom:500px;}
    100% {left:1500px;bottom:500px}
}

.cloud2 {
    scale:70%;
    animation-name: moving2;
    animation-duration: 15s;
    animation-delay: 5s;
    position:absolute;
    z-index: -1;
}

@keyframes moving2
{
    0% {left:-1000px;bottom:100px;}
    100% {left:1200px;bottom:100px}
}