* {
  box-sizing: border-box;
}

html {
  height: 30vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 200vw;
  max-width: 40em;
  min-width: 30em;
  border-radius: 1rem;
  background: rgb(38, 17, 102);
  background: linear-gradient(0deg, rgb(255, 255, 255) 40%, #191c50 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 2rem 0 1rem;
  color: #ced0cf;
}

button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  border: 2px solid rgb(3, 0, 28);
  border-radius: 50%;
  background: rgb(204, 204, 204);
  transform: scale(.8);
  transition: .25s;
}
button:focus {
  outline: none;
  background: rgb(204, 204, 204);
}
button:focus svg {
  stroke: rgb(0, 0, 0);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 15px);
  stroke: rgb(181, 181, 183);
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: none;
  box-shadow: none;
  transition: .25s .15s;
}
.img:hover {
  background-color: rgb(21, 21, 20);
}

.img1 {
  position: relative;
  top: 3rem;
  width: 3em;
  height: auto;
  border: none;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(225, 222, 250);
}

dt {
  margin-top: .30rem;
  padding-top: .25rem;
  border-top: 1px solid rgba(255, 215, 215, 0.3);
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .75s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 20em;
}

a:hover {
  color: black;
  background: yellow;
}

@media (hover: hover) {
  /* when hover is supported */
  a:hover {
    color: rgb(255, 255, 255);
    background: black;
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  font-family: Arial, Helvetica, sans-serif;
  color:black
}